:root {
}

.button {
    font-size: 40px;
    margin-top: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
    margin-left: 40px;
    padding-top: 17px;
    padding-right: 17px;
    padding-bottom: 17px;
    padding-left: 17px;
    -unity-text-align: upper-center;
    transition-duration: 0.35s, 0s;
    transition-timing-function: ease-out, ease;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
    border-bottom-left-radius: 14px;
    border-top-width: -120px;
    border-right-width: -75px;
    border-bottom-width: -75px;
    border-left-width: -75px;
    border-left-color: rgb(255, 253, 253);
    border-right-color: rgb(255, 253, 253);
    border-top-color: rgb(255, 253, 253);
    border-bottom-color: rgb(255, 253, 253);
    -unity-background-image-tint-color: rgb(255, 255, 255);
    background-color: rgb(255, 241, 193);
    -unity-slice-left: 61;
    -unity-slice-top: 32;
    -unity-slice-right: 32;
    -unity-slice-bottom: 32;
    background-size: 137% 100%;
}



.button:hover {
    scale: 1.1 1.1;
    -unity-background-image-tint-color: rgb(220, 0, 0);
    transition-duration: 0.35s;
    filter: tint(rgb(255, 221, 221));
}
